@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Tangerine:700');
span{
	margin: 3px;
  margin-left: 10px;
  margin-right: 10px;

	display: block;
}
.jumbotron{
  z-index: -10;
  padding-left:10px; 
  padding-right:10px;
}
nav{
  z-index: 10;
}

body{
  font-family:'Comfortaa';
}
footer{
  margin-top: 50px;
}

.unica{
  font-family: 'Unica One', cursive;

}
.lista{
  margin-bottom: 5px;
}
.handler {
  -webkit-animation-duration: 6s;

}
.bg-1{
  background-color: #ffffff; 
  color:  black;
}
#filete{
  height: 1px;
	margin: auto;
	border-color: black;
	vertical-align: center;
	width:90%;

}
.separador{
  width:40%;
}

hr{
	height: 1px;	
	border-color: black;
	vertical-align: center;
  }

.gold{
  color:#d29e2c;
}

.grey{
  color:#d3d3d3;
  background-color: #d3d3d3; 
  margin: auto;
  vertical-align: center;
  width:90%;
  }
.separador-grey{
  color:#d3d3d3;
  background-color: #d3d3d3; 
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: center;
  border-top:0px;
  width:15%;
  height:1px;
}
.icono{
  width:25px;
  height:25px;
}
  
  .parrafo{
    width: 50%;
    margin: auto;
    padding-left: 4px;
    padding-right: 4px;
    text-justify:inter-word;

  }


